



<div class="text-center py-4">
    <h1 class="text-2xl font-bold text-gray-800 animate-bounce">@ViewBag.AirportName </h1>
</div>

<a class="nav-link" asp-area="" asp-action="Index" asp-controller="Arrivals">Ankomster</a>

<a class="nav-link" asp-area="" asp-action="Index" asp-controller="Departures">Avångar</a>


<a class="nav-link" asp-area="" asp-action="Index" asp-controller="Restaurant">Restauranger</a>

<a class="nav-link" asp-area="" asp-action="Index" asp-controller="Services">Services</a>

<a class="nav-link" asp-area="" asp-action="Index" asp-controller="Shop">Shops</a>

<a class="nav-link" asp-area="" asp-action="LangCode" asp-controller="Restaurant">LangCode</a>