@model WaitTimeResponse

<!DOCTYPE html>
<html>
<head>
    <title>Wait Time</title>
   
</head>
<body>
    <h1>Wait Time Information</h1>
    <p>Current Projected Wait Time: @Model.CurrentProjectedWaitTime minutes</p>
    </body>
</html>
